
<div class="container">
    <h1>俺の漢字</h1>
    <h3>My Kanji Drill</h3>
</div>

<%#= erb (rand(2) == 1 ? :quiz_kanji : :quiz_reading) %>
<%#= erb :quiz_kanji %>
<%= erb :quiz_reading %>

<div class="container">
    <p>あなただけの漢字ドリルを作ろう!</p>
    <a class="button " href="/signup">Sign Up</a>
    <a class="button" href="/login">Log In</a>
    <a class="button button-black button-outline" href="/management">Management</a>
</div>

