
<h1>俺の漢字</h1>
<h2>- My Kanji Drill -</h2>
<hr>
<h3>あなただけの漢字ドリルを作ろう!</h3>
<ul>
    <li>読みと漢字, 2種類のクイズで漢字のいろいろな読み方をマスターしよう</li>
    <li>苦手な漢字ほどクイズに出てくるので学習効率UP</li>
</ul>
<a class="button" href="/signup">新しく作る</a
><a class="button" href="/login">ログイン</a>
<hr>
<%= erb :quiz, locals: {isTest: false} %>

