<h1>俺の漢字</h1>
<h2>My Kanji Drill</h2>
<h2>問題</h2>
<p>「学」は,なんと読む?</p>
<p>ハク</p>
<p>ガク</p>
<p>タク</p>
<p>ロク</p>

<p>あなただけの漢字ドリルを作ろう!</p>
<a href="/signup">Sign Up</a>
<a href="/login">Log In</a>
<a href="/management">Management</a>

