
<div class="container">
    <h1>俺の漢字</h1>
    <h3>My Kanji Drill</h3>
</div>

<%= erb :quiz %>

<div class="container">
    <p>あなただけの漢字ドリルを作ろう!</p>
    <a class="button " href="/signup">Sign Up</a>
    <a class="button" href="/login">Log In</a>
    <a class="button button-black button-outline" href="/management">Management</a>
</div>

