
<h1>俺の漢字</h1>
<h2>My Kanji Drill</h2>

<h3>あなただけの漢字ドリルを作ろう!</h3>
<ul>
    <li>読み方クイズ, 漢字クイズ</li>
    <li>苦手な漢字は集中ケア</li>
    <li>文章まるごとコピーアンドペーストして漢字ドリルにできる</li>
</ul>
<a class="button" href="/signup">新しく作る</a
><a class="button" href="/login">ログイン</a>

<%= erb :quiz %>

<% #<a class="button small-button outline-button" href="/management">管理画面</a> %>

