<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>俺の漢字</title>
    <style>
      input { display: block; }
      .error { color: red; }
    </style>
  </head>
  <body><%= yield %></body>
</html>
