<h1>ログインする</h1>

<% if @error %>
  <p class="error"><%= @error %></p>
<% end %>

<form action="/login" method="POST">
  <input name="email" placeholder="メールアドレス" />
  <input name="password" type="password" placeholder="パスワード" />
  <input type="submit" value="ログイン" />
</form>
