<div class="container">
<h2>マイページ</h2>

<% if @error %>
  <% @error.each do |s| %>
    <p class="error"><%= s %></p>
  <% end %>
<% end %>

<p>ようこそ, <%= current_user.name %> さん.</p>

<form action="/logout" method="POST">
  <input type="submit" value="ログアウト" onclick="alert('ログアウトしました')"; />
</form>

<p id="message"><%= @message %></p>
<form action="/kanji/register" method="POST">
	<input name="kanji">
	<input type="submit" value="登録">
<form>

<form action="/test" method="GET">
	<input type="submit" value="テストを受ける" />
</form>

<form action="/drill" method="GET">
	<input type="submit" value="ドリルを見る" />
</form>

</div>
