<div class="container">
    <h2>マイページ</h2>
    <% if @error %>
        <% @error.each do |s| %>
            <p class="error"><%= s %></p>
        <% end %>
    <% end %>
    <p>ようこそ, <%= current_user.name %> さん.</p>
    <a class="button " href="/logout" onclick="alert('ログアウトしました')">ログアウト</a>
</div>

<div class="container">
    <p id="message"><%= @message %></p>
    <form action="/user/kanji_register" method="POST">
        <input name="kanji">
        <input type="submit" value="登録">
    </form>
    <a class="button" href="/user/mytest">テストを受ける</a>
    <a class="button" href="/user/mydrill">ドリルを見る</a>
</div>
