
<div class="container">
    <%= erb (rand(2) == 1 ? :quiz_kanji : :quiz_reading) %>
    <%#= erb :quiz_kanji %>
    <%#= erb :quiz_reading %>
    <a class="button button-outline" href="/user/mypage">終わる</a>
</div>

