
<% theme, choices, answer_place, creation = kanji_quiz %>

<div id="quiz" class="container">
    <h2>問題</h2>
    <p>「<%= theme %>」は, なんと読む?</p>
    <div id="choices" ></div>
</div>

<%= erb :quiz, :locals => { choices: choices, answer_place: answer_place, creation: creation } %>
