<h2>アカウントを作る</h2>
<% if @error %>
  <% @error.each do |s| %>
    <p class="error"><%= s %></p>
  <% end %>
<% end %>
<form action="/signup" method="POST">
  <input name="name" placeholder="ニックネーム(3~20文字)" />
  <input name="email" placeholder="メールアドレス(3~20文字)" />
  <input name="password" type="password" placeholder="パスワード(8~20文字)" />
  <input name="password_confirmation" type="password" placeholder="パスワードを再入力" />
  <input type="submit" value="登録" />
</form>
