<h2>Sign Up</h2>
<form action="/signup" method="POST">
  <input name="name" placeholder="Name" />
  <input name="email" placeholder="Email" />
  <input name="password" placeholder="Password" />
  <input type="submit" value="Submit" />
</form>
