body {
    font-family: "Sawarabi Mincho";
}
h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 10rem;
}
dl {
    padding: 2rem 0rem 0rem 0rem;
}
.container {
    padding: 6rem 1rem 1rem 1rem;
    margin: 0 auto;
    max-width: 60rem;
    text-align: center;
}
.button, .small-button, .outline-button,
input[type="submit"], input[type="button"] {
    background-color: crimson;
    border-color: crimson;
    color: white;
    font-weight: unset;
    text-transform: unset;
    border-radius: 10rem;
    height: auto;
    margin: 0.5rem;
}
.button {
    font-size: 3rem;
    padding: 2rem 4rem;
}
.small-button, input[type="submit"] {
    font-size: 2rem;
    padding: 1rem 3rem;
}
.button[disabled] {
    cursor: default;
    opacity: .8;
}
.outline-button {
    background-color: white;
    border-color: crimson;
    color: crimson;
}


