body {
    font-family: "Sawarabi Mincho";
}
h1 {
    font-size: 10rem;
}
dl {
    padding: 2rem 0rem 0rem 0rem;
}
/* https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
  display: inline-block;
  margin: 30px;
  border: 8px solid crimson;
  border-radius: 50%;
  border-top: 8px solid transparent;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.container {
    padding: 6rem 1rem 1rem 1rem;
    margin: 0 auto;
    max-width: 60rem;
    text-align: center;
}
.button, .small-button, .outline-button,
input[type="submit"], input[type="button"] {
    background-color: crimson;
    border-color: crimson;
    color: white;
    font-weight: unset;
    text-transform: unset;
    border-radius: 10rem;
    height: auto;
    margin: 0.5rem;
}
.button {
    font-size: 3rem;
    padding: 2rem 4rem;
}
.small-button, input[type="submit"] {
    font-size: 2rem;
    padding: 1rem 3rem;
}
.button[disabled] {
    cursor: default;
    opacity: .8;
}
.outline-button {
    background-color: white;
    border-color: crimson;
    color: crimson;
}


